{block title}Úprava faktury {$invoice->id} společnosti {$invoice->company_name}{/block}
{block content}
	<p>
		<a n:href="default" class="btn btn-default">← zpět</a>
	</p>

	{snippet form}
		{include '@form.latte'}
	{/snippet}
{/block}