{block title}Úprava platby s variabilním symbolem {$payment->invoice_id} společnosti {$payment->company_name}{/block}
{block content}
	<p>
		<a n:href="default" class="btn btn-default">← zpět</a>
	</p>

	{control form}
{/block}