.user-panel {
	margin: 35px 10px 0 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}

.company-select {
	line-height: 45px;
}

.products-controls .form-control {
	width: 200px;
	display: inline-block;
	margin-right: 10px;
}

.products .form-control {
	width: 200px;
	display: inline-block;
}

.products .small {
	width: 100px;
}

.products .btn {
	margin-left: 10px;
}