{block title}Úvodní stránka{/block}
{block content}
	<p>Vítejte!</p>

	<p>Pokud jste tu poprvé, pokračujte tlačítkem <a n:href="Registration:">Registrace</a>.</p>

	<p>Zda-li už svůj účet vlastníte, pokračujte tlačítkem <a n:href="Login:">Přihlášení</a>.</p>

	<p>Pro stáhnutí uživatelské přiručky, klikněte na tento <a href="/uzivatelska_dokumentace.pdf">odkaz</a>.</p>
{/block}
